:root {
--col-prim-tomato: hsl(4, 100%, 67%);
--col-prim-tomato-backg: hsla(4, 100%, 67%, 0.1);
--col-neut-dark-slate-grey: hsl(234, 29%, 20%);
--col-neut-charcoal-grey: hsl(235, 18%, 26%);
--col-neut-grey: hsl(231, 7%, 60%);
--col-white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--col-neut-dark-slate-grey);
}

body {
    display: grid;
    min-height: 100dvh;
    place-content: center;
    background-color: var(--col-neut-dark-slate-grey);
}

main {
    display: grid;
    place-content: center;
}

.sign-up {
    min-height: 98dvh;
    background-color: var(--col-white);

}

.hidden {
    display: none!important;
}

.main-cont {
    padding: 1rem;
}

.main-cont h1 {
    padding: 1.5rem 0;
    font-size: 2.5rem;
}

.img-cont img {
    width: 100%;
    height: auto;
}

ul.updates-list {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

ul.updates-list li {
    padding-left: .5rem;
    align-items: center;
    position: relative;
}


ul.updates-list li::before {
    content: url(./assets/images/icon-list.svg);
    vertical-align:middle;
    position:absolute;
    left: -2rem;
}

form {
    margin-top:1.5rem;
    position: relative;
}

label {
    font-size: .8rem;
    font-weight: bold;
}

input {
    margin-top: .5rem;
    width: 100%;
    padding: 1.2rem;
    border-radius: .7rem;
    border: 1px solid var(--col-neut-grey);
    
}

input::placeholder {
    font-size: 1rem;
}

.invalid {
    border: 2px solid var(--col-prim-tomato);
    color: var(--col-prim-tomato);
    background-color: var(--col-prim-tomato-backg);
}

.btn {
    margin-top: 1.5rem;
    width: 100%;
    padding: 1.2rem;
    border-radius: .5rem;
    background-color: var(--col-neut-dark-slate-grey);
    color: var(--col-white);
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: 1px;
    border: none;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.error {
    color: var(--col-prim-tomato);
    font-weight: normal;
    font-size: .8rem;
    position: absolute;
    right: 0;
    top: .2rem;
}

@media screen and (min-width: 760px) {

    .sign-up {
        padding: 1rem;
        border-radius: 2.5rem;
        -webkit-border-radius: 2.5rem;
        -moz-border-radius: 2.5rem;
        -ms-border-radius: 2.5rem;
        -o-border-radius: 2.5rem;
        display: grid;
        grid-auto-columns: 1fr auto;
        grid-auto-rows: 100%;
        column-gap: clamp(0rem, 1vw, 2rem);
        min-height: 0;
        max-height: 40rem;
        max-width: 58rem;
    }

    .img-cont {
        grid-column: 2;
        max-height: 100%;
    }

    .img-cont img{
        width: 100%;
        max-height: 100%;
    }

    .main-cont {
        grid-column: 1;
        grid-row: 1;
        padding: clamp(1rem, 2vw, 5rem);
        display: flex;
        flex-direction: column;
    }

    .main-cont h1 {
        font-size: 3rem;
    }

    ul.updates-list {
        margin-top: 0;
        padding-top: clamp(1rem, 3vw, 2rem);
        padding-bottom: clamp(1rem, 3vw, 2rem);
    }
    form {
        margin-top: 0;
    }

}
/* confirmation section */

.confirmation {
    padding: 2rem 1rem;
    min-height: 98dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--col-white);
}

.confirmation img {
    margin-top: 5rem;
    max-width: 3.5rem;
    height: auto;
    display: inline-block;
}

.confirmation h2 {
    font-size: 2.5rem;
    padding: 1.5rem 0;
}

.confirmation .btn {
    margin-top: auto;
}

@media screen and (min-width: 480px) {
    .confirmation {
        min-height: 0;
        max-width: 31rem;
        padding: clamp(1.5rem, 10vw, 3.5rem);
        gap: 2.5rem;
        border-radius: 2rem;
    }

    .confirmation img {
        margin-top: 0;
    }

    .confirmation h2{
        font-size: 3.5rem;
        padding: 0;
    }

    .confirmation p {
        line-height: 1.5rem;
    }
}

@media(hover: hover) and (pointer: fine) {
    .btn:hover, .btn:focus-visible {
        cursor: pointer;
        transform: scale(1.03);
        outline: none!important;
        background-image: linear-gradient(to right, hsl(4, 100%, 67%) 30%, hsl(24, 77%, 54%));
        transition: transform .5s;
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        -ms-transition: transform .5s;
        -o-transition: transform .5s;
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
    }

    input {
        cursor: pointer;
    }
}